
@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<table class="display" id="example" style="width:100%"
       data-list-url=@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "employees" })
       data-del-url=@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "employees" })
       data-edit-url=@Url.Action("Edit")
       data-new-url=@Url.Action("New")
       >
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Start date</th>
            <th>Age</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Start date</th>
            <th>Age</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

